/* credits to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_todo */

html {
  background-color: #272727;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  max-width: 250px;
  background-color: #272727;
}

ul {
  margin: 0;
  padding: 0;
  max-height: 280px;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

ul li {
  position: relative;
  padding: 12px 4px 12px 12px;
  list-style-type: none;
  background: #272727;
  font-size: 18px;
  transition: 0.2s;
  color: #ffffff;
  opacity: 0.80;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #272727;
}

ul li.doing {
  background: #272727;
  font-size: x-large;
  font-weight: bold;
}

ul li.done {
  padding: 12px 4px 12px 40px;
  background: #272727;
  text-decoration: line-through;
}

/* Add a "done" mark when clicked on */
ul li.done::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
